/**
 * Main styles
 **/
.ea-button {
  display: inline-block;
  font-size: 17px;
  line-height: 17px;
  border-radius: 25px;
  padding: 14px 38px;

  &_s-big {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	border-radius: 40px;
	padding: 13px 50px;
	border:none;
	box-shadow: none;
	outline: none !important;
  }

  &_s-small {

  }

  &_blue {
	background: @ea-blue2;
	color: @ea-white;

	&:hover,
	&:focus {
	  color: @ea-white;
	}
  }

  &_green {
	background: @ea-green;
	color: @ea-white;

	&:hover,
	&:focus {
	  color: @ea-white;
	}
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}