<!--blocks-->
<div id="rent-workplace" class="ea-rent-workplace">

    <div class="ea-rent-workplace__body">
        <form action="">
            @@include('../title/index.html',{
            "title_h-number": "h2",
            "title_mod": "ea-title_s-normal ea-title_center",
            "title_text": "Арендовать рабочее место"
            })

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ваше имя"/>
            </div>

            <div class="form-group">
                <input type="tel" class="form-control" placeholder="Ваш телефон"/>
            </div>
            <div class="form-group">
                @@include('../select/index.html', {
                "block_mod": "full-width greey"
                })
            </div>
            <div class="form-group">
                @@include('../button/index-b.html',{
                "block_mod": "ea-button_green ea-button_s-big popup",
                "block_text": "Отправить"
                })
            </div>
            <div class="form-group">
                <span class="form-description">
                После отправки формы, с вами свяжется наш менеджер для подтверждения времени и даты аренды
            </span>
            </div>
        </form>
    </div>

</div>