/**
 * Main styles
 **/
.ea-rent-workplace {
  display: none;

  &__fancybox {
	border-radius: 20px;
	background: #eeeeee;
  }

  &__body {
	padding: 40px 73px;
	max-width: 594px;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}