<!--blocks-->
<div class="ea-scheme owl-carousel">
    <div class="ea-scheme__item">
        <img src="./img/scheme_02.jpg" alt=""/>
    </div>
    <div class="ea-scheme__item">
        <img src="./img/scheme_03.jpg" alt=""/>
    </div>
</div>