/**
 * Main styles
 **/
.footer {
  height: 307px;
  margin-top: -307px;
  width: 100%;
  position: relative;
  background: @ea-blackLight;
  color: @ea-white;

  &__container {
	.container();
  }

  &__row {
	.make-row();

  }

  &__col-full {
	.make-sm-column-offset(1);
	.make-sm-column(12);
  }

  &__col {
	.make-sm-column(4.66666666666666);

	&_last {
	  .make-sm-column-offset(1.55555555555555);
	  .make-sm-column(3.11111111111111);
	}

	&_center {
	  text-align: center;
	}
  }

  &__top {
	padding-top: 48px;
	padding-bottom: 40px;
	border-bottom: 1px solid @ea-white;
	min-height: 230px;
  }

  &__bottom {
	padding-top: 23px;
	padding-bottom: 26px;
  }

  &__copyright {

  }

}

.footer-menu {

  &__list {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
  }

  &__list-item {
	display: block;
	margin-bottom: 6px;
  }

  &__list-link {
	display: block;
	color: @ea-white;
	text-decoration: none;
	font-weight: 300;
	font-size: 17px;
	line-height: 24px;

	&.active,
	&:hover,
	&:focus{
	  color: @ea-blue;
	}
  }
}
.footer-contact{

  &__phone{
	color: @ea-white;
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	padding-top: 0;
	display: block;
	letter-spacing: 0;
	margin-top: -7px;
	margin-bottom: 24px;

  }

  &__cord{
	font-size: 16px;
	line-height: 30px;
	span{
	  font-size: 18px;
	  line-height: 30px;
	  font-weight: 500;
	  i{
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 24px;
		background: url("../img/coord-ico.png") no-repeat center center;
		margin-right: 8px;
	  }
	}

	p{
	  margin: 0;
	  font-weight: 300;
	}
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}