<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__col-full">
                <div class="footer__top">
                    <div class="footer__row">
                        <div class="footer__col footer-contact">
                            <a href="tel:+7" class="footer-contact__phone">+7 (812) 90-500-91</a>

                            <div class="footer-contact__cord">
                                <span><i></i>Санкт-Петербург</span>
                                <p>
                                    ул. 3-я Конная Лахта д.35 <br>
                                    Режим работы: с 10.00 до 21.00
                                </p>
                            </div>
                        </div>
                        <div class="footer__col footer__col_center">
                            <nav class="footer-menu">
                                <ul class="footer-menu__list">
                                    <li class="footer-menu__list-item">
                                        <a href="#" class="footer-menu__list-link active">
                                            Аренда рабочего места без подъемника
                                        </a>
                                    </li>
                                    <li class="footer-menu__list-item">
                                        <a href="#" class="footer-menu__list-link">
                                            Аренда автоподъемника без инструмента
                                        </a>
                                    </li>
                                    <li class="footer-menu__list-item">
                                        <a href="#" class="footer-menu__list-link">
                                            Аренда автоподъемника с инструментом
                                        </a>
                                    </li>
                                    <li class="footer-menu__list-item">
                                        <a href="#" class="footer-menu__list-link">
                                            Для автомехаников
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                        <div class="footer__col footer__col_last">
                            <nav class="footer-menu">
                                <ul class="footer-menu__list">
                                    <li class="footer-menu__list-item">
                                        <a href="#" class="footer-menu__list-link active">О сервисе</a>
                                    </li>
                                    <li class="footer-menu__list-item">
                                        <a href="#" class="footer-menu__list-link">Контакты</a>
                                    </li>
                                    <li class="footer-menu__list-item">
                                        <a href="#" class="footer-menu__list-link">Схема проезда</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__copyright">© 2016 ООО «Название сайта». Все права защищены.</div>
                </div>
            </div>

        </div>
    </div>
</footer>

@@include('../../blocks/rent-workplace/index.html')