<!--blocks-->
<div class="ea-text">
    @@include('../title/index.html',{
    "title_h-number": "h2",
    "title_mod": "ea-title_s-normal",
    "title_text": "Дополнительные услуги:"
    })

   <ul class="ea-text__ul">
       <li>Консультация и помощь дежурного механика</li>
       <li>Сварочные работы</li>
       <li>Компьютерная диагностика</li>
       <li>Шиномонтаж</li>
       <li>Суточная стоянка автомобилей</li>
       <li>Доставка недостающих запчастей</li>
   </ul>
</div>
