<!--blocks-->
<div class="ea-text ea-text_2">
    @@include('../title/index.html',{
    "title_h-number": "h2",
    "title_mod": "ea-title_s-normal",
    "title_text": "В стоимость входит следующий инструмент:"
    })

   <ul class="ea-text__ul ea-text__ul_col-2">
       <li>Электроинструмент</li>
       <li>Болгарка</li>
       <li>Набор ключей</li>
       <li>Пресс для подшиников</li>
       <li>Электроинструмент</li>
       <li>Болгарка</li>
       <li>Набор ключей</li>
       <li>Пресс для подшиников</li>
   </ul>
</div>

