<!--blocks-->
<div class="ea-text">
    @@include('../title/index.html',{
    "title_h-number": "h2",
    "title_mod": "ea-title_s-normal",
    "title_text": "Описание услуги"
    })

    <p>
        Представляем Вашему вниманию услуги аренды сервисных площадей и прокат инструмента в компактном, теплой и
        светлой автомастерской.
    </p>
    <p>
        Это очень удобно и доступно по цене. У нас вы можете <strong>самостоятельно</strong> выполнить ремонт авто,
        используя все необходимые инструменты и профессиональное оборудование.
    </p>
    <p>
        Индивидуальное сервисное помещение и аренда подъемника на час — отличное решение вопроса доступного сервиса для
        ремонта, тюнинга автомобиля или мотоцикла, когда необходимо сэкономить на стоимости работ.
    </p>
</div>