/**
 * Main styles
 **/
.ea-text {
  padding-top: 33px;
  padding-left: 95px;
  padding-right: 25px;
  padding-bottom: 48px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;

  &_not-title{
	padding-top: 113px;
  }

  &_2{
	padding-top: 0;
	margin-top: -30px;
  }

  &_grey{
	background: @ea-whiteGrey;
  }

  p {
	margin-bottom: 26px;
  }
  strong{
	font-weight: 500;
  }

  &__ul {
	padding: 0;
	list-style: none;
	margin: -3px 0 0 0;

	&_col-2{
	  -moz-column-count: 2;
	  -moz-column-gap: 20px;
	  -webkit-column-count: 2;
	  -webkit-column-gap: 20px;
	  column-count: 2;
	  column-gap: 20px;
	}

	li {
	  padding: 5px 0 5px 55px;
	  color: @ea-blue;
	  position: relative;
	  margin-bottom: 14px;
	  font-weight: normal;

	  &:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 34px;
		height: 34px;
		background-image: url(../img/li-ico.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
	  }
	}
  }

  &__btn{
	margin-top: 33px;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}