/**
 * Main styles
 **/
.ea-contact {
  width: 100%;
  max-width: 441px;
  margin: 16px 0 0 31px;
  position: absolute;
  top: 120px;
  z-index: 10;
  background: @ea-white;
  padding: 40px 40px 34px;
  box-shadow: 0 0 18px 0 rgba(14,15,15,0.49);
  color: @ea-grey;
  font-size: 18px;
  line-height: 24px;

  &__phone{
    font-size: 30px;
    line-height: 32px;
    font-weight: 500;
    padding-top: 0;
    display: block;
    letter-spacing: 0;
    margin-bottom: 6px;
    color: @ea-grey;

    &:hover,&:focus{
      color: @ea-grey;
    }
  }

  &__description{
    width: 100%;
    opacity: .5;
    color: @ea-blackLight;
    font-style: italic;
    font-size: 14px;
  }

  &__text{
    padding-top: 14px;
    margin-bottom: -8px;

    p{
      margin-bottom: 24px;
    }
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}