/**
 * Main styles
 **/
.ea-title {

  &_s-normal {
    font-size: 30px;
    line-height: 60px;
    color: @ea-grey2;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &_s-small{

  }

  &_center{
    text-align: center;
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}