/**
 * Main styles
 **/
.header {
  background: @ea-blackLight;
  height: 70px;
  width: 100%;
  overflow: hidden;

  &__container {
	.container();
  }

  &__row {
	.make-row();
  }

  &__col {
	.make-sm-column(5);
  }

  &__col-2 {
	.make-sm-column(4);
  }

  &__logo {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
  }

  &__menu {
	padding-top: 23px;

  }

  &__list {
	.make-row();
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
  }

  &__list-item {
	.make-sm-column(4.666666666666667);
	float: none !important;
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	line-height: 17px;
	font-weight: 300;

	&.active {
	  .header__list-link {
		color: @ea-blue;
	  }
	}
  }

  &__list-link {
	display: block;
	text-align: center;
	color: @ea-white;
	text-decoration: none !important;
	outline: none !important;

	&:hover,
	&:focus {
	  color: @ea-blue;
	}
  }

  .header-phone {
	padding-top: 12px;
	padding-bottom: 12px;
	&__row {
	  .make-row();
	}

	&__col {
	  .make-sm-column(7);

	  &:last-child {
		border-left: 1px solid rgba(188, 190, 197, 0.2);
	  }
	}

	&__item {
	  text-align: right;
	  color: @ea-white;
	  font-size: 24px;
	  line-height: 32px;
	  font-weight: 500;
	  margin-left: -36px;
	  padding-top: 6px;
	  display: block;
	  letter-spacing: 0px;

	  i{
		display: inline-block;
		margin-right: 20px;
		vertical-align: middle;
		width: 32px;
		height: 32px;
		background: url("../img/phone-ico.png") no-repeat center center;
	  }

	  &:hover,
	  &:focus {
		color: @ea-white;
	  }
	}

	&__btn {
	  display: block;
	  height: 45px;
	  background: @ea-blue;
	  text-align: center;
	  font-size: 18px;
	  line-height: 22px;
	  font-weight: 500;
	  border-radius: 30px;
	  color: @ea-white;
	  padding: 12px 10px;

	  &:hover,
	  &:focus {
		color: @ea-white;
	  }
	}

  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}