<header class="header">
    <div class="header__container">
        <div class="header__row">
            <div class="header__col">
                <a href="/" class="header__logo">
                    <img src="./img/logo.png" alt=""/>
                </a>
            </div>
            <div class="header__col-2">
                <nav class="header__menu">
                    <ul class="header__list">
                        <li class="header__list-item active">
                            <a href="/" class="header__list-link">Услуги</a>
                        </li>
                        <li class="header__list-item">
                            <a href="/" class="header__list-link">О сервисе</a>
                        </li>
                        <li class="header__list-item">
                            <a href="/contact.html" class="header__list-link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__col">
                <div class=" header-phone">
                    <div class="header-phone__row">
                        <div class="header-phone__col">
                            <a href="tel:+7" class="header-phone__item"><i></i>+7 (812) 90-500-91</a>
                        </div>
                        <div class="header-phone__col">
                            <a  href="#rent-workplace" class="header-phone__btn popup">Записаться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

