<div class="ea-tabs">
  <ul class="ea-tabs__list" role="tablist">
    <li class="ea-tabs__item @@item_1.active" role="presentation">
      <a class="ea-tabs__link" href="#@@item_1.id" aria-controls="@@item_1.id" role="tab" data-toggle="tab">@@item_1.name</a>
    </li>
    <li class="ea-tabs__item @@item_2.active" role="presentation">
      <a class="ea-tabs__link" href="#@@item_2.id" aria-controls="@@item_2.id" role="tab" data-toggle="tab">@@item_2.name</a>
    </li>
  </ul>
</div>