/**
 * Main styles
 **/

.ea-tabs {
  .clearfix();

  &__list {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
  }

  &__item {
	display: inline-block;
	padding: 0 0 0 0;
	border-radius: 20px;
	overflow: hidden;

	&.active {
	  .ea-tabs__link {
		color: #39393a;
		background: #f5f5f5;
		text-decoration: none;
	  }
	}
  }

  &__link {
	display: block;
	color: @ea-blue;
	font-size: 18px;
	font-weight: 300;
	background: transparent;
	padding: 7px 21px 9px;
	position: relative;
	text-decoration: underline;
  }
}

.ea-tabs-content {
  .clearfix();
  padding-top: 50px;
  min-height: 602px;

  > .ea-tabs-content__item {
	display: none;
  }

  > .active {
	display: block !important;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

// @media (max-width: @screen-sm-max) {
//
// }

//@media (max-width: @screen-xs-max) {
//
//}