<!--blocks-->
<div id="map" class="ea-map"></div>

<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
    ymaps.ready(init);

    function init () {
        var myMap = new ymaps.Map("map", {
                center: [55.907228, 31.260503],
                zoom: 16,
                controls: []
            }),
            myPlacemark = new ymaps.Placemark([55.907228, 31.260503], {}, {
                preset: "islands#dotIcon",
                iconColor: '#b51aff'
            });

        myMap.geoObjects.add(myPlacemark);
    }
</script>