/**
 * Main styles
 **/
.ea-map {
  width: 100%;
  min-height: 602px;
  margin-top: -50px;




}


/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}