/**
 * Common styles
 **/
html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative;
  .pt-fira();
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  min-width: 1420px;

  &.contact {
	background: #f6f7f9;
  }

}

a {
  transition: opacity 150ms ease-out, color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out;
}

.ea-wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

.ea-content {
  padding-bottom: 307px;
  //padding-top: 1px;
}

.ea-container {
  .container();
}

.ea-container-full {
  .containerFull();
}

.ea-row {
  .make-row();

  &_table {
	display: table;
  }
}

.ea-col-2 {
  .make-sm-column(7);

  &_grey {
	background: @ea-whiteGrey;
  }

  &_table {
	display: table-cell;
	vertical-align: top;
	float: none !important;
  }
}

.ea-col-contact-1 {
  .make-sm-column(9);
}

.ea-col-contact-2 {
  .make-sm-column(5);
  .make-sm-column-offset(9);
  position: relative;
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}