// Mixins
// --------------------------------------------------


// Lazy border
.pr-border( @pr-border-width, @pr-border-style, @pr-border-color ) {
	border-style: @pr-border-style;
	border-width: @pr-border-width;
	border-color: @pr-border-color;
}

.placeholder(@color: @input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
	color: @color;
	font-style: italic;
	opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
	color: @color;
	font-style: italic;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
	color: @color;
	font-style: italic;
  }
  // Safari and Chrome
}

.pt-fira {
  font-family: 'Fira Sans', sans-serif;
}


.clearfix {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after { clear: both; }
}

.container(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
  &:extend(.clearfix all);
  max-width: 1408px;
  min-width: 320px;
  width: 100%;

  @media (min-width: @screen-sm-min) {
    //max-width: @container-sm;
    width: 100%;
  }
  @media (min-width: @screen-md-min) {
    //max-width: @container-md;
    width: 100%;
  }
  @media (min-width: @screen-lg-min) {
    //max-width: @container-lg;
    width: 100%;
  }

}

.containerFull(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
  &:extend(.clearfix all);
  max-width: 1600px;
  min-width: 320px;
  width: 100%;

  @media (min-width: @screen-sm-min) {
    //max-width: @container-sm;
    width: 100%;
  }
  @media (min-width: @screen-md-min) {
    //max-width: @container-md;
    width: 100%;
  }
  @media (min-width: @screen-lg-min) {
    //max-width: @container-lg;
    width: 100%;
  }

}