/**
 * Custom variables
 **/

// Globals
@abs-img-path:              '..'; // example: http://site.com
@path:                      '../../bower_components/bootstrap/less/';


// DAS main colors
@ea-white:                 	#ffffff;
@ea-whiteGrey:              #f5f5f5;
@ea-black:              	#000000;
@ea-blackLight:            	#1b2a39;
@ea-grey:                 	#333333;
@ea-grey2:                 	#31282b;
@ea-blue:              		#2990e5;
@ea-blue2:              	#159fd8;
@ea-green:              	#2fc339;
@ea-red:                	#fb2837;


// DAS text & link settings
@body-bg:                   @ea-white;
@text-color:                @ea-grey;
@link-color:                @ea-blue;
@link-hover-color:          #666;
@link-hover-decoration:     none;






//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #f7f7f7;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;

//** Text color for `<input>`s
@input-color:                    #666666;
//** `<input>` border color
@input-border:                   #EEE;
@font-size-base:          16px;
// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            20px;
//** Large `.form-control` border radius
@input-border-radius-large:      20px;
//** Small `.form-control` border radius
@input-border-radius-small:      20px;

//** Border color for inputs on focus
@input-border-focus:             @ea-green;

//** Placeholder text color
@input-color-placeholder:        #cdcfd1;

//** Default `.form-control` height
@input-height-base:              44px;
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       20px;

@legend-color:                   #333333;
@legend-border-color:            #a3a7a9;

//** Background color for textual input addons
@input-group-addon-bg:           #f7f7f7;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;







/**
 * Grid system
 **/


@grid-columns:              14;
@grid-gutter-width:         30px;

// @container-tablet:          ;
// @container-sm:              ;
@container-desktop:         (980px + @grid-gutter-width);
// @container-md:              ;
@container-large-desktop:   (1140px + @grid-gutter-width + 20px);
// @container-lg:              ;







//Убираем моб. версию
@screen-xs: 10px;
@screen-sm: 10px;
@screen-md: 10px;
body,
html,
.header{
  min-width: 1420px !important;
}