/**
 * Main styles
 **/

.owl-dots {
  //display: none;
  display: block !important;
  position: absolute;
  z-index: 4;
  left: 0;
  opacity: 1;
  bottom: 0;
  width: 100%;
  height: 14px;
  text-align: center;
  background: @ea-white;
  background: transparent;
  padding: 15px 0 35px;

  .owl-dot {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 7px 4px;
	position: relative;

	span {
	  display: block;
	  cursor: pointer;
	  text-decoration: none;
	  border-radius: 50%;
	  position: absolute;
	  z-index: 1;
	  height: 8px;
	  width: 8px;
	  border: 0;
	  background: @ea-white;
	  left: 50%;
	  top: 50%;
	  margin: -4px 0 0 -4px;
	  transition: all 0.2s ease-in-out;
	}

	&.active span {
	  background: @ea-black;
	  transform: scale(1.5, 1.5);
	}
	&:hover {
	  span {
		background: @ea-black;
		transform: scale(1.5, 1.5);
	  }
	}
  }
}

.owl-nav {

  .owl-prev,
  .owl-next {
	position: absolute;
	top: 50%;
	z-index: 1000;
	display: block;
	width: 64px;
	height: 64px;
	outline: none;
	text-align: left;
	cursor: pointer;
	transform: translateY(-50%);
	background: #eaeaea;
	border-radius: 50%;

	&:after,
	&:before {
	  position: absolute;
	  left: 50%;
	  width: 4px;
	  height: 40%;
	  outline: 1px solid transparent;
	  background: @ea-white;
	  content: '';
	  transition: transform 0.3s;
	  backface-visibility: hidden;

	}

	&:before {
	  top: 50%;
	  transform: translateX(-50%) rotate(-135deg);
	  transform-origin: 50% 0%;

	}

	&:after {
	  top: 50%;
	  transform: translateX(-50%) rotate(-45deg);
	  transform-origin: 0 0;

	}

	i {
	  position: relative;
	  display: block;
	  width: 100%;
	  height: 100%;

	  &:after,
	  &:before {
		position: absolute;
		left: 50%;
		width: 4px;
		outline: 1px solid transparent;
		content: '';
		backface-visibility: hidden;
		z-index: 100;
		height: 0;
		background: @ea-blue;
		transition: height 0.3s, transform 0.3s;
	  }

	  &:before {
		top: 50%;
		transform: translateX(-50%) rotate(-135deg);
		transform-origin: 50% 0%;
	  }

	  &:after {
		top: 50%;
		transform: translateX(-50%) rotate(-45deg);
		transform-origin: 0 0;
	  }
	}

	&:hover {

	  &:after {
		transform: translateX(-50%) rotate(-55deg);
	  }

	  &:before {
		transform: translateX(-50%) rotate(-125deg);
	  }

	  i {

		&:after {
		  height: 40%;
		  transform: translateX(-50%) rotate(-55deg);
		}

		&:before {
		  height: 40%;
		  transform: translateX(-50%) rotate(-125deg);
		}
	  }
	}
  }
  .owl-prev {
	left: 0;

	&:before {
	  margin-left: -10px;
	}

	&:after {
	  margin-left: -10px;
	}

	i {
	  &:before {
		margin-left: -10px;

	  }

	  &:after {
		margin-left: -10px;

	  }
	}

	&:hover {

	  &:before {

	  }
	  &:after {

	  }
	  i {

		&:before {

		}
		&:after {

		}
	  }
	}
  }

  .owl-next {
	right: 0;

	&:before {
	  transform: translateX(-50%) rotate(135deg);
	  transform-origin: 50% 0%;
	  margin-left: 10px;
	}

	&:after {
	  transform: translateX(-50%) rotate(45deg);
	  transform-origin: 100% 0%;
	  margin-left: 10px;
	}

	i {

	  &:before {
		transform: translateX(-50%) rotate(135deg);
		transform-origin: 50% 0%;
		margin-left: 10px;
	  }

	  &:after {
		transform: translateX(-50%) rotate(45deg);
		transform-origin: 100% 0%;
		margin-left: 10px;
	  }
	}

	&:hover {

	  &:before {
		transform: translateX(-50%) rotate(125deg);
	  }

	  &:after {
		transform: translateX(-50%) rotate(55deg);
	  }

	  i {

		&:before {
		  transform: translateX(-50%) rotate(125deg);
		}

		&:after {
		  transform: translateX(-50%) rotate(55deg);
		}
	  }
	}
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}

