<!--blocks-->
<div class="ea-services">
    <div class="ea-services__img" style="background-image: url(./img/services-1.jpg)"></div>
    <div class="ea-services__body">
        <h2 class="ea-services__title">
            Аренда рабочего <br>
            места с инструментом <br>
            (без подъемника)
        </h2>
        <div class="ea-services__description">
            <ul>
                <li><i>Возможные работы: электрика, салон, подкапотное пространство.</i></li>
                <li>
                    <i>Предоставляемые инструменты: слесарные ключи, электроинструмент, тестер, розетка 220В, Wi-Fi.</i>
                </li>
            </ul>
        </div>
        <div class="ea-services__price ea-services__price_red">300 &#8381;/час</div>
        <a href="#" class="ea-services__link">читать подробнее</a>
    </div>
</div>