<!--blocks-->
<div class="ea-services ea-services_big">
    <div class="ea-services__tc">
        <div class="ea-services__img" style="background-image: url(./img/services-big-3.jpg)"></div>
        <div class="ea-services__body">
            <h2 class="ea-services__title">
                Аренда рабочего места <br>
                с подъемником и инструментом
            </h2>
            <div class="ea-services__description-big">
                <p>
                    <span>Возможные работы:</span>
                    все виды работ, кроме сварки и шиномонтажа (эти работы выполняются мастером сервиса)
                </p>
                <p>
                    <span>Предоставляемые инструменты:</span>
                    все возможные инструменты
                </p>


            </div>
            <div class="ea-services__price-big">500 Р/час</div>
            @@include('../button/index.html',{
            "block_mod": "ea-button_green ea-button_s-big popup",
            "block_text": "Записаться"
            })
        </div>
    </div>

</div>