<!--blocks-->
<div class="ea-services">
    <div class="ea-services__img" style="background-image: url(./img/services-4.jpg)"></div>
    <div class="ea-services__body">
        <h2 class="ea-services__title">
            Предложение <br>
            для автомехаников <br>
            (со своей клиентской базой)
        </h2>
        <div class="ea-services__description">
            <ul>
                <li><i>Возможные работы: все виды работ.</i></li>
                <li>
                    <i>Предоставляемые инструменты: все возможные инструменты
                        и приспособления + использование клиентской зоны ожидания.</i>
                </li>
            </ul>
        </div>
        <div class="ea-services__price">30 000 &#8381;/100 часов</div>
        <a href="#" class="ea-services__link">читать подробнее</a>
    </div>
</div>