<!--blocks-->
<div class="ea-services">
    <div class="ea-services__img" style="background-image: url(./img/services-2.jpg)"></div>
    <div class="ea-services__body">
        <h2 class="ea-services__title">
            Аренда рабочего места <br>
            с подъемником <br>
            (без инструмента)
        </h2>
        <div class="ea-services__description">
            <ul>
                <li><i>Возможные работы: все виды работ, кроме сварочных.</i></li>
                <li>
                    <i>Предоставляемые инструменты: розетка 220В, Wi-Fi.</i>
                </li>
            </ul>
        </div>
        <div class="ea-services__price">300 &#8381;/час</div>
        <a href="#" class="ea-services__link">читать подробнее</a>
    </div>

</div>