/**
 * Main styles
 **/
.ea-services {
  box-shadow: inset 0 0 43px 0 rgba(8, 9, 9, 0.32);
  background: @ea-black;
  min-height: 350px;
  position: relative;
  color: @ea-white;

  &:hover {

	.ea-services__img {
	  opacity: .9;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	  filter: alpha(opacity=90);

	  &:after {
		background-color: #05648b;
	  }
	}
  }

  &_big{
	text-align: center;
	display: table;
	table-layout: fixed;
	width: 100%;
	min-height: 702px;

	.ea-services__img {
	  opacity: 1 !important;

	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  filter: alpha(opacity=100);

	  &:after{
		display: none;
	  }
	}
	.ea-services__tc{
	  display: table-cell;
	  vertical-align: middle;
	}

	.ea-services__body {
	  padding: 0 0 20px 0;
	}

	.ea-services__title {
	  font-size: 48px;
	  line-height: 60px;
	  margin-bottom: 11px;
	}
  }

  &__container {
	.containerFull();
  }

  &__row {
	.make-row();
  }

  &__col {
	.make-sm-column(7);
	padding: 0.5px;
	background: #c5c5c5;

	&:nth-child(1) {
	  padding-left: 0;
	  padding-top: 0;
	}

	&:nth-child(2) {
	  padding-right: 0;
	  padding-top: 0;
	}

	&:nth-child(3) {
	  padding-left: 0;
	  padding-bottom: 0;
	}

	&:nth-child(4) {
	  padding-right: 0;
	  padding-bottom: 0;
	}

  }
  &__col-full {
	.make-xs-column(14);
	padding: 0;
  }

  &__img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1;
	opacity: .7;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	transition: opacity 150ms ease-out, color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out;

	&:after {
	  content: '';
	  display: block;
	  position: absolute;
	  left: 0;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #00435f;
	  opacity: .5;

	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	  filter: alpha(opacity=50);
	  transition: opacity 150ms ease-out, color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out;
	}
  }

  &__body {
	position: relative;
	z-index: 3;
	overflow: hidden;
	padding: 36px 100px 20px 109px;
  }

  &__title {
	font-size: 36px;
	line-height: 42px;
	margin: 0 0 12px;
	padding: 0;
	font-weight: bold;
  }

  &__description {
	font-size: 16px;
	line-height: 20px;
	min-height: 88px;

	ul {
	  margin: 0;
	  padding: 0 0 0 20px;
	  li {

	  }
	}
  }
  &__description-big {
	font-size: 16px;
	line-height: 24px;
	font-style: italic;

	span{
	  font-size: 18px;
	  line-height: 28px;
	  display: inline-block;
	  width: 100%;
	  color: @ea-blue2;
	  font-weight: bold;
	}
  }

  &__price {
	display: inline-block;
	vertical-align: middle;
	background: @ea-green;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	height: 56px;
	color: @ea-white;
	border-radius: 30px;
	padding: 13px 32px;

	&_red {
	  background: @ea-red;
	}
  }
  &__price-big {
	display: block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 64px;
	line-height: 64px;
	color: @ea-white;
	padding: 29px 0 42px;
  }

  &__link {
	display: inline-block;
	vertical-align: middle;
	color: @ea-white;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 17px;
	border-bottom: 1px solid;

	&:hover{
	  color: @ea-white;
	}
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}