<!--blocks-->
<div class="ea-rent-phone">
    <span class="ea-rent-phone__title">По всем вопросам звоните</span>
    <a href="tel:+7" class="ea-rent-phone__item">+7 (812) 90-500-91</a>
    <i class="ea-rent-phone__description">Телефон работает круглосуточно, 7 дней в неделе</i>
</div>