/**
 * Main styles
 **/
.ea-rent-phone {
  background: @ea-whiteGrey;
  text-align: center;
  color: @ea-blackLight;
  padding: 30px;
  margin-top: 16px;
  font-weight: normal;

  &__title {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 25px;
  }

  &__item {
	display: inline-block;
	width: 100%;
	font-size: 60px;
	line-height: 60px;
	font-weight: 500;
	color: @ea-blackLight;
	margin-bottom: 23px;

	&:hover,
	&:focus{
	  color: @ea-blackLight;
	}
  }

  &__description {
	display: inline-block;
	width: 100%;
	opacity: .5;
	font-size: 14px;
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}