<select class="ea-select @@block_mod">
  <option value="AL">Аренда рабочего места с подъемником и инструментом</option>
  <option value="WY">Аренда рабочего места с подъемником и инструментом</option>
  <option value="WY">Аренда рабочего места с подъемником и инструментом</option>
  <option value="WY">Аренда рабочего места с подъемником и инструментом</option>
</select>
