/**
 * Main styles
 **/

// Default
.select2-container {
  box-sizing: border-box;
  min-width: 100%;
  z-index: 8011;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
  &.select2-container--open {
	min-width: inherit;
  }
  &.select2-container--below.select2-container--open {
	width: 100%;
	min-width: 100%;
  }

  .select2-selection--single {
	box-sizing: border-box;
	border-radius: 20px !important;
	cursor: pointer;
	display: block;

	height: 28px;

	user-select: none;
	-webkit-user-select: none;

	.select2-selection__rendered {
	  display: block;
	  padding-left: 12px;
	  padding-right: 20px;

	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}
  }

  &[dir="rtl"] {
	.select2-selection--single {
	  .select2-selection__rendered {
		padding-right: 8px;
		padding-left: 20px;
	  }
	}
  }
  .select2-selection--multiple {
	box-sizing: border-box;

	cursor: pointer;
	display: block;

	min-height: 32px;

	user-select: none;
	-webkit-user-select: none;

	.select2-selection__rendered {
	  display: inline-block;
	  overflow: hidden;
	  padding-left: 12px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}
  }

  .select2-search--inline {
	float: left;

	.select2-search__field {
	  box-sizing: border-box;
	  border: none;
	  font-size: 100%;
	  margin-top: 5px;

	  &::-webkit-search-cancel-button {
		-webkit-appearance: none;
	  }
	}
  }
}

.select2-dropdown {
  background-color: #f7f7f7;
  border: 1px solid #EEE;
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
  overflow: hidden;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px 12px;

  user-select: none;
  -webkit-user-select: none;

  &[aria-selected] {
	cursor: pointer;
  }
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px 12px;
  background-color: #f7f7f7;

  .select2-search__field {
	background: transparent;
	padding: 4px;
	width: 100%;
	box-sizing: border-box;

	&::-webkit-search-cancel-button {
	  -webkit-appearance: none;
	}
  }

  &.select2-search--hide {
	display: none;
  }
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;

  // styles required for IE to work

  background-color: #f7f7f7;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.select2-container--default {
  .select2-selection--single {
	background-color: #f7f7f7;
	border: 1px solid #EEE;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	height: 44px;
	line-height: 44px;
	outline: none !important;

	.select2-selection__rendered {
	  color: #1b2a39;
	  font-size: 16px;
	  height: 44px;
	  line-height: 44px;
	  font-style: italic;

	}

	.select2-selection__clear {
	  cursor: pointer;
	  float: right;
	  font-weight: bold;
	}

	.select2-selection__placeholder {
	  color: #adadad;
	}

	.select2-selection__arrow {
	  height: 40px;
	  line-height: 40px;
	  position: absolute;
	  top: 1px;
	  right: 1px;
	  width: 40px;

	  b {
		border-color: #8d949c transparent transparent transparent;
		border-style: solid;
		border-width: 7px 7px 0 7px;

		height: 0;
		left: 50%;

		margin-left: -7px;
		margin-top: -2px;

		position: absolute;

		top: 50%;
		width: 0;
	  }
	}
  }

  &[dir="rtl"] {
	.select2-selection--single {
	  .select2-selection__clear {
		float: left;
	  }

	  .select2-selection__arrow {
		left: 1px;
		right: auto;
	  }
	}
  }

  &.select2-container--disabled {
	.select2-selection--single {
	  background-color: #eee;
	  cursor: default;

	  .select2-selection__clear {
		display: none;
	  }
	}
  }

  &.select2-container--open {
	.select2-selection--single {
	  .select2-selection__arrow {
		b {
		  border-color: transparent transparent #8d949c transparent;
		  border-width: 0 7px 7px 7px;
		}
	  }
	}
  }

  .select2-selection--multiple {
	background-color: #f7f7f7;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: text;

	.select2-selection__rendered {
	  box-sizing: border-box;
	  list-style: none;
	  margin: 0;
	  padding: 0 5px;
	  width: 100%;
	}

	.select2-selection__placeholder {
	  color: #999;

	  margin-top: 5px;

	  float: left;
	}

	.select2-selection__clear {
	  cursor: pointer;
	  float: right;
	  font-weight: bold;
	  margin-top: 5px;
	  margin-right: 10px;
	}

	.select2-selection__choice {
	  background-color: #e4e4e4;

	  border: 1px solid #aaa;
	  border-radius: 4px;
	  cursor: default;

	  float: left;

	  margin-right: 5px;
	  margin-top: 5px;
	  padding: 0 5px;
	}

	.select2-selection__choice__remove {
	  color: #999;
	  cursor: pointer;

	  display: inline-block;
	  font-weight: bold;

	  margin-right: 2px;

	  &:hover {
		color: #333;
	  }
	}
  }

  &[dir="rtl"] {
	.select2-selection--multiple {
	  .select2-selection__choice, .select2-selection__placeholder {
		float: right;
	  }

	  .select2-selection__choice {
		margin-left: 5px;
		margin-right: auto;
	  }

	  .select2-selection__choice__remove {
		margin-left: 2px;
		margin-right: auto;
	  }
	}
  }

  &.select2-container--focus {
	.select2-selection--multiple {
	  border: solid black 1px;
	  outline: 0;
	}
  }

  &.select2-container--disabled {
	.select2-selection--multiple {
	  background-color: #eee;
	  cursor: default;
	}

	.select2-selection__choice__remove {
	  display: none;
	}
  }

  &.select2-container--open.select2-container--above {
	.select2-selection--single, .select2-selection--multiple {
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
  }

  &.select2-container--open.select2-container--below {
	.select2-selection--single, .select2-selection--multiple {
	  border-bottom-left-radius: 0 !important;
	  border-bottom-right-radius: 0 !important;
	}
  }

  .select2-search--dropdown {
	.select2-search__field {
	  border: 1px solid #aaa;
	  outline: none !important;
	}
  }

  .select2-search--inline {
	.select2-search__field {
	  background: transparent;
	  border: none;
	  outline: 0;
	}
  }

  .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
  }

  .select2-results__option {
	&[role=group] {
	  padding: 0;
	}

	&[aria-disabled=true] {
	  color: #999;
	}

	&[aria-selected=true] {
	  background-color: #ddd;
	}

	.select2-results__option {
	  padding-left: 1em;

	  .select2-results__group {
		padding-left: 0;
	  }

	  .select2-results__option {
		margin-left: -1em;
		padding-left: 2em;

		.select2-results__option {
		  margin-left: -2em;
		  padding-left: 3em;

		  .select2-results__option {
			margin-left: -3em;
			padding-left: 4em;

			.select2-results__option {
			  margin-left: -4em;
			  padding-left: 5em;

			  .select2-results__option {
				margin-left: -5em;
				padding-left: 6em;
			  }
			}
		  }
		}
	  }
	}
  }

  .select2-results__option--highlighted[aria-selected] {
	background-color: #999999;
	color: white;
  }

  .select2-results__group {
	cursor: default;
	display: block;
	padding: 6px;
  }
}

.select2-container--countries {
  min-width: 300px;

  &.select2-container--open {
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  .select2-dropdown {
	background-color: #fff;
	border: none;
	box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .2);
	border-radius: 3px;
  }
  .select2-search--dropdown {
	background-color: #fff;
  }
  .select2-selection--single {
	background-color: #f7f7f7;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	height: 40px;
	line-height: 40px;
	outline: none !important;

	.select2-selection__rendered {
	  color: #555;
	  font-size: 14px;
	  height: 40px;
	  line-height: 40px;
	}

	.select2-selection__clear {
	  cursor: pointer;
	  float: right;
	  font-weight: bold;
	}

	.select2-selection__placeholder {
	  color: #adadad;
	}

	.select2-selection__arrow {
	  height: 40px;
	  line-height: 40px;
	  position: absolute;
	  top: 1px;
	  right: 1px;
	  width: 40px;

	  b {
		border-color: #8d949c transparent transparent transparent;
		border-style: solid;
		border-width: 7px 7px 0 7px;

		height: 0;
		left: 50%;

		margin-left: -7px;
		margin-top: -4px;

		position: absolute;

		top: 50%;
		width: 0;
	  }
	}
  }

  &[dir="rtl"] {
	.select2-selection--single {
	  .select2-selection__clear {
		float: left;
	  }

	  .select2-selection__arrow {
		left: 1px;
		right: auto;
	  }
	}
  }

  &.select2-container--disabled {
	.select2-selection--single {
	  background-color: #eee;
	  cursor: default;

	  .select2-selection__clear {
		display: none;
	  }
	}
  }

  &.select2-container--open {
	.select2-selection--single {
	  .select2-selection__arrow {
		b {
		  border-color: transparent transparent #8d949c transparent;
		  border-width: 0 7px 7px 7px;
		}
	  }
	}
  }

  .select2-selection--multiple {
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: text;

	.select2-selection__rendered {
	  box-sizing: border-box;
	  list-style: none;
	  margin: 0;
	  padding: 0 5px;
	  width: 100%;
	}

	.select2-selection__placeholder {
	  color: #999;

	  margin-top: 5px;

	  float: left;
	}

	.select2-selection__clear {
	  cursor: pointer;
	  float: right;
	  font-weight: bold;
	  margin-top: 5px;
	  margin-right: 10px;
	}

	.select2-selection__choice {
	  background-color: #e4e4e4;

	  border: 1px solid #aaa;
	  border-radius: 4px;
	  cursor: default;

	  float: left;

	  margin-right: 5px;
	  margin-top: 5px;
	  padding: 0 5px;
	}

	.select2-selection__choice__remove {
	  color: #999;
	  cursor: pointer;

	  display: inline-block;
	  font-weight: bold;

	  margin-right: 2px;

	  &:hover {
		color: #333;
	  }
	}
  }

  &[dir="rtl"] {
	.select2-selection--multiple {
	  .select2-selection__choice, .select2-selection__placeholder {
		float: right;
	  }

	  .select2-selection__choice {
		margin-left: 5px;
		margin-right: auto;
	  }

	  .select2-selection__choice__remove {
		margin-left: 2px;
		margin-right: auto;
	  }
	}
  }

  &.select2-container--focus {
	.select2-selection--multiple {
	  border: solid black 1px;
	  outline: 0;
	}
  }

  &.select2-container--disabled {
	.select2-selection--multiple {
	  background-color: #ffffff;
	  cursor: default;
	}

	.select2-selection__choice__remove {
	  display: none;
	}
  }

  &.select2-container--open.select2-container--above {
	.select2-selection--single, .select2-selection--multiple {
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
  }

  &.select2-container--open.select2-container--below {
	.select2-selection--single, .select2-selection--multiple {
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}
  }

  .select2-search--dropdown {
	.select2-search__field {
	  border: 1px solid #aaa;
	  outline: none !important;
	}
  }

  .select2-search--inline {
	.select2-search__field {
	  background: transparent;
	  border: none;
	  outline: 0;
	}
  }

  .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
  }

  .select2-results__option {
	&[role=group] {
	  padding: 0;
	}

	&[aria-disabled=true] {
	  color: #999;
	}

	&[aria-selected=true] {
	  background-color: #fff;
	}

	.select2-results__option {
	  padding-left: 1em;

	  .select2-results__group {
		padding-left: 0;
	  }

	  .select2-results__option {
		margin-left: -1em;
		padding-left: 2em;

		.select2-results__option {
		  margin-left: -2em;
		  padding-left: 3em;

		  .select2-results__option {
			margin-left: -3em;
			padding-left: 4em;

			.select2-results__option {
			  margin-left: -4em;
			  padding-left: 5em;

			  .select2-results__option {
				margin-left: -5em;
				padding-left: 6em;
			  }
			}
		  }
		}
	  }
	}
  }

  .select2-results__option--highlighted[aria-selected] {
	background-color: #f2f2f2;
	color: #8d949c;
  }

  .select2-results__group {
	cursor: default;
	display: block;
	padding: 6px;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: @screen-xs-max) {
  .select2-container {
	min-width: 100%;
  }

  .select2-selection--single {
	//height: 20px !important;
	//line-height: 20px !important;

	.select2-selection__rendered {
	  //font-size: 11px !important;
	  //height: 20px !important;
	  //line-height: 20px !important;
	}
	.select2-selection__arrow {
	  //height: 20px !important;
	  //line-height: 20px !important;
	  //width: 20px !important;

	  b {
		//border-width: 4px 4px 0 4px !important;
		//margin-left: -3px !important;
		//margin-top: -3px !important;
	  }
	}
  }

  &.select2-container--open {
	.select2-selection--single {
	  .select2-selection__arrow {
		b {
		  //border-width: 0 4px 4px 4px !important;
		}
	  }
	}
  }

  .select2-results__option {
	//font-size: 11px;
  }

  .select2-search--dropdown {
	//font-size: 11px;
	//padding: 2px;

	.select2-search__field {
	  //padding: 2px;
	  //width: 100%;
	}
  }
}


